{% extends 'base.html.twig' %}

{% block title %}
    Votre lien de connexion a été envoyé !
{% endblock %}

{% block body %}

	<h1>Votre lien de connexion a été envoyé !</h1>

	<p>Vérifiez votre boite mail et cliquez sur le lien pour vous connecter.</p>

{% endblock %}
