/* Variables */
:root {
    --bs-primary: #101010;
    --bs-secondary: #6c757d;
    --bs-success: #28a745;
    --bs-info: #17a2b8;
    --bs-warning: #ffc107;
    --bs-danger: #dc3545;
}

/* Core */
body {
    font-family: "Inter Tight", sans-serif;
    letter-spacing: 0.02rem;
    line-height: 1.5;
    background-color: #f8f9fa;
    background-image: url("/medias/images/bg.svg");
    background-size: cover;
}

/* Layout */
.container-xs { max-width: 400px; }
.container-sm { max-width: 600px; }
.container-md { max-width: 800px; }
.container-lg { max-width: 1000px; }
.container-xl { max-width: 1200px; }

.center { 
    display: grid;
    place-items: center;
}

/* Typography */
h1, h2, h3, h4, h5, h6 {
    font-family: "Poppins", sans-serif;
    letter-spacing: -0.1rem;
    line-height: 1.2;
    font-weight: 600;
    padding-bottom: 1.5rem;
}

.logo {
    font-family: "Lexend Mega", sans-serif;
}

.help {
    font-size: 0.85rem;
    color: #555;
}

.text-xl { font-size: 3rem; }
.text-2xl { font-size: 3.5rem; }
.text-3xl { font-size: 4rem; }
.text-4xl { font-size: 4.5rem; }
.text-5xl { font-size: 5rem; }

/* Sizing */
.h-1 { height: 1rem; }
.h-2 { height: 2rem; }
.h-3 { height: 3rem; }
.h-4 { height: 4rem; }
.h-5 { height: 5rem; }

.w-1 { width: 1rem; }
.w-2 { width: 2rem; }
.w-3 { width: 3rem; }
.w-4 { width: 4rem; }
.w-5 { width: 5rem; }

.p-md { padding: 3rem 0; }
.p-lg { padding: 6rem 0; }
.p-xl { padding: 8rem 0; }

/* Colors */

/* Backgrounds */

/* Forms */
.form-control {
    border-radius: 0px;
}

.form-control:focus {
    box-shadow: inherit;
    border-color: var(--bs-primary);
}

/* Buttons */
.btn {
    border-radius: 0px;
}

.btn-primary {
    background-color: var(--bs-primary);
    border-color: var(--bs-primary);
    border: 2px solid var(--bs-primary);
}

.btn-primary:hover {
    background-color: var(--bs-primary);
    border-color: var(--bs-primary);
}

.btn-outline-primary {
    color: var(--bs-primary);
    border-color: var(--bs-primary);
    border: 2px solid var(--bs-primary);
}

.btn-outline-primary:hover {
    color: #ffffff !important;
    background-color: var(--bs-primary);
    border-color: var(--bs-primary);
}