{% extends 'base.html.twig' %}

{% block title %}Hello UserController!{% endblock %}

{% block body %}

{% include 'components/nav.html.twig' %}

<div class="container pt-5">
    <header class="">
        <img src="{{ asset('medias/images/default.png') }}" alt="{{ app.user.username }}" class="img-fluid rounded-circle" width="120">
    </header>
    <section class="">

        {{ form(userForm) }}

    </section>
</div>

{% if app.user.isVerified == false %}
    <h2>Validez votre adresse e-mail</h2>
{% endif %}

{% endblock %}
